.home, .settings {
    background: yellow;
    background: linear-gradient(135deg, yellow 0%, orange 17%, white 100%);
    margin-top: 20px;
}

.weatherSettings {
    text-align: center;
}

.newsSettings {
	text-align: center;
}